<a href="https://colab.research.google.com/github/Ayanlola2002/Analyticsvidyah/blob/master/Janata_TimeSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np

In [0]:
train=pd.read_csv('/content/drive/My Drive/Analytic_VidYah/train_6BJx641.csv')
test=pd.read_csv('/content/drive/My Drive/Analytic_VidYah/test_pavJagI.csv')

In [20]:
train.head(100)

    ID             datetime  ...  var2  electricity_consumption
0    0  2013-07-01 00:00:00  ...     A                    216.0
1    1  2013-07-01 01:00:00  ...     A                    210.0
2    2  2013-07-01 02:00:00  ...     A                    225.0
3    3  2013-07-01 03:00:00  ...     A                    216.0
4    4  2013-07-01 04:00:00  ...     A                    222.0
..  ..                  ...  ...   ...                      ...
95  95  2013-07-04 23:00:00  ...     A                    231.0
96  96  2013-07-05 00:00:00  ...     A                    228.0
97  97  2013-07-05 01:00:00  ...     A                    210.0
98  98  2013-07-05 02:00:00  ...     A                    213.0
99  99  2013-07-05 03:00:00  ...     A                    213.0

[100 rows x 8 columns]

In [12]:
print(train.shape)
print(test.shape)

(26496, 8)
(8568, 7)

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26496 entries, 0 to 26495
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       26496 non-null  int64
 1   datetime                 26496 non-null  object
 2   temperature              26496 non-null  float64
 3   var1                     26496 non-null  float64
 4   pressure                 26496 non-null  float64
 5   windspeed                26496 non-null  float64
 6   var2                     26496 non-null  object
 7   electricity_consumption  26496 non-null  float64
dtypes: float64(5), int64(1), object(2)
memory usage: 1.6+ MB

In [0]:
#temperature can be converted to fareiheiht to change values of temp to negative
#extract month,year,day,hours from the datetime
#can pressure and windspeed be grouped ?if so grouped them into categories high,low etc

In [14]:
train.isnull().sum()

ID                         0
datetime                   0
temperature                0
var1                       0
pressure                   0
windspeed                  0
var2                       0
electricity_consumption    0
dtype: int64

In [15]:
test.isnull().sum()

ID             0
datetime       0
temperature    0
var1           0
pressure       0
windspeed      0
var2           0
dtype: int64

In [18]:
train['var1'].value_counts()

 10.0    836
 8.6     809
 10.7    797
 7.9     779
 9.3     770
        ...
-29.3      3
 17.9      2
-32.9      1
 18.6      1
-32.1      1
Name: var1, Length: 71, dtype: int64

In [19]:
#This is ok,label encoding
train['var2'].value_counts()

A    25239
C     1040
B      217
Name: var2, dtype: int64